@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

:root{
    --beige: #fbf5ec; /* prova questo come beige: #d8be9f */
    --arancione: #f28810;
    --ciano: #327a8d;
    --bianco: #fdfbf9;
    --grigio_testo: #777b7e;

    --ampiezza_ricerca: 18%;  /* larghezza occupata da .ricerca */
}



/* ELEMENTI HEADER */
body{
    color: var(--ciano);  /* colore testo */
    font-weight: 700;
    font-size: 14px;
    
    font-family: sans-serif;
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.banner{
    background-color: var(--beige);
    text-align: center;
    padding: 13px;
}

/* PARTE NAVIGAZIONE */
ul {
    background-color: var(--bianco);
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 25px;
    overflow: visible;

    box-shadow: 0px 0px 100px 13px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 0px 0px var(--arancione);
}

ul::after {  /* serve a rendere nav visibile dalla pagina */
    content: "";
    display: block;
    clear: both;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: var(--ciano);
    font-weight: 700;
    text-align: center;
    padding: 15px 20px 15px 20px;
    text-decoration: none;

    transition: transform 0.3s ease;
}

ul li a:hover {
    background-color: var(--bianco);
    transform: scale(1.2); /* modifica larghezza testo */

    color: var(--arancione);
    box-shadow: inset 0px 0px 0px 1.5px var(--arancione);
    border-radius: 15px;
}

#home::before{
    content: "\f015";
    font-family: "Font Awesome 6 Free";
    font-weight: 800; /*400 per i simboli vuoti, 800 per i pieni*/
    font-size: 20px;
    margin-right: 10px;
}
#clienti::before{
    content: "\f500";
    font-family: "Font Awesome 6 Free";
    font-weight: 800; /*400 per i simboli vuoti, 800 per i pieni*/
    font-size: 20px;
    margin-right: 10px;
}
#utenze::before{
    content: "\f043";
    font-family: "Font Awesome 6 Free";
    font-weight: 800; /*400 per i simboli vuoti, 800 per i pieni*/
    font-size: 20px;
    margin-right: 10px;
}
#letture::before{
    content: "\f201";
    font-family: "Font Awesome 6 Free";
    font-weight: 800; /*400 per i simboli vuoti, 800 per i pieni*/
    font-size: 20px;
    margin-right: 10px;
}
#fatture::before{
    content: "\f15c";
    font-family: "Font Awesome 6 Free";
    font-weight: 800; /*400 per i simboli vuoti, 800 per i pieni*/
    font-size: 20px;
    margin-right: 10px;
}



/* ELEMENTI PAGINA HOME */
.home{
    padding: 15px 10px;
}


/* ELEMENTI PAGINA CLIENTI */
.pagina{
    display: flex;  /* ordina in orizzontale elementi contenuti */
    margin: 0px 3px 15px 3px;
    padding: 5px 2px 5px 2px;
    align-items: flex-start;  /* fa in modo che blocchi si autoregolino */ 
}

/* PARTE RICERCA */
.ricerca{
    background-color: var(--bianco);
    display: flex;
    flex-direction: column;
    width: var(--ampiezza_ricerca);
    margin: 25px;
    padding: 10px 15px 10px 15px;

    box-shadow: 0px 0px 100px 13px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.campo{
    margin: 3px;
    padding: 5px;
}

.text-area{
    margin: 3px;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    /*color: var(--grigio_testo);*/
    width: 100%;
}

.pulsanti-ricerca{
    margin: 15px 10px 0 10px;
    padding: 0 10px 0 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.svuota-ricerca, .avvio-ricerca{
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 2px 2px rgb(176, 148, 148, 0.7);
}

#svuota, #avvio{
    background-color: var(--beige);
    color: var(--ciano);
    width: 33%;
    height: 50px;
}

/* AUTOCOMPLETAMENTO */
.autocomplete {
    position: relative;  /* necessario */
    display: inline-block;
    width: 100%;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;  /* stessa width del contentitore */
    left: 0;
    right: -1px;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}
.autocomplete-active {  /* per navigare tramite tastiera */
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

/* PARTE RISULTATI */
.mostra-risultati{
    background-color: var(--bianco);
    flex: 1;  /* prende tutto lo spazio disponibile oltre a .ricerca in .cliente */
    margin: 25px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 0px 100px 13px rgba(0, 0, 0, 0.05);
}

.campo-ricerca{
    margin: 1px;
    padding: 1px 9px 1px 3px;
    font-size: medium;
}

.risultati{
    background-color: var(--ciano);
    flex: 1;
    margin: 5px;
    margin-top: 2px;
    padding: -2px 6px 7px 6px;
    border-radius: 10px;
    max-height: 400px;  /* altezza massima della tabella con i risultati */
    overflow-y: auto;  /* permette lo scorrimento */
}

/* TABELLA RISULTATI */
table{
    background-color: var(--beige);
    border: 3px solid var(--ciano);
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: white;
}

th{
    background-color: var(--ciano);
    color: var(--bianco);
    border: 3px solid var(--ciano);
    border-collapse: collapse;  
    text-align: center; 
    padding-top: 2px;
    padding-bottom: 2px;
    position: sticky;  /* blocca prima riga tabella in alto */
    top: 0;
}
td{
    border: 3px solid var(--ciano);
    border-collapse: collapse;  
    text-align: center; 
    padding-top: 2px;
    padding-bottom: 2px;
}

#col_cod_cli, #col_città_cliente{
    width: 12%;
}
#col_cod_fis{
    width: 18%;
}
#cod_rag_soc{
    width: 34%;
}
#col_indirizzo_cliente{
    width: 22%;
}


/* ELEMENTI PAGINA UTENZE (riusati elementi di pagina clienti) */  
.attività{
    display: flex;
    margin: 3px 0px 3px 0px;
    padding: 1px 3px 1px 0px;
    align-items: baseline;
    overflow-x: auto;
}

.date-area{
    display: flex;
    padding: 1px 0px 1px 0px;
    width: 100%;
}

.campo-data{
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 0px;
    width: 50%;
}
#campo-data-chiusura{
    margin-right: 5px;
}

#data_ap, #data_ch{  /* controlli di correttezza data fatti in automatico dal widget */
    margin: 3px;
    padding: 4px 5px 4px 5px;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
}

.data_non_ammessa{ /* per quando stato è 'attiva' e la data di chiusura non deve essere premibile */
    cursor: not-allowed;
}

#col_cod_utenza, #col_cod_cliente, #col_città_utenza, #col_stato{
    width: 13%;
}
#col_data_apertura, #col_data_chiusura{
    width: 14%;
}
#col_indirizzo_utenza{
    width: 20%;
}


/* ELEMENTI PAGINA LETTURE (riusati elementi di pagina clienti) */
.dati-lettura{
    display: flex;
    padding: 1px 0 1px 0;
    width: 100%;
}
.data-lettura, .valore-lettura{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
    width: 50%;
}
#valore-lettura{
    margin-right: 1px;
}

#col_num_let, #col_cod_ute{
    width: 21%;
}
#col_cod_fatt{
    width: 24%;
}
#col_data, #col_valore{
    width: 17%;
}


/* ELEMENTI PAGINA FATTURE (riusati elementi di pagina clientI) */
.prezzo-fattura{
    display: flex;
    width: 100%;
}

.campo-prezzo{
    margin: 0 4px 0 4px;
    display: flex;
    flex-direction: column;
    width: 33%;
}

.header-risultati{
    display: flex;
    width: 100%;
}

.pulsante-nuova{
    margin: 15px 15px 0 0;
    margin-left: auto;  /* mette tutto a sinistra icona */
    font-size: 30px;  /* grandezza icona */
    background: none;  /* nessuno sfondo o border */
    border: none;
    color: var(--ciano); /* per cambiare colore pulsante */
    cursor: pointer; /* aiuta a visualizzare cliccabilità */
}

#col_num_fattura, #col_data_fattura, #col_imponibile, #col_iva, #col_totale{
    width: 20%;
}


/* ELEMENTI FOOTER */
footer{
    color: var(--bianco);
    background-color: var(--ciano);
    position: fixed;  /* Posizione è fissa nella pagina web */
    bottom: 0px;    /* Queste tre righe garantiscono che il footer sia sempre in fondo alla pagina */
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 1px;
    font-size: small;
}