/* elementi contenuti nel header */
body{
    background-color: #DACAA4; /*medio*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.banner{
    background-color: #C8AD7E; /*scuro*/
    text-align: center;
    padding: 30px;
}

ul {
    background-color: #f4e3bb; /*chiaro*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #DACAA4; /*medio*/
}


/* elementi contenuti nella home */
.home{
    margin: 0px;
    padding: 15px 10px;
}


/* elementi contenuti nel footer */
footer{
    background-color: #C8AD7E; /*scuro*/
    position: fixed;  /* Queste righe */ 
    bottom: 0px;      /* garantiscono che il */
    left: 0px;        /* footer sia sempre in */
    right: 0px;       /* fondo alla pagina  */
    text-align: center;
    margin-top: 10 px;
    padding: 5px;
}