/* elementi contenuti nel header */
body{
    font-family: sans-serif;
    background-color: #f4e3bb; /*medio*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.banner{
    background-color: #C8AD7E; /*scuro*/
    text-align: center;
    padding: 20px;
}

ul {
    background-color: #F5F5DD; /*chiaro*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #f4e3bb; /*medio*/
}


/* elementi contenuti nella home */
.home{
    padding: 15px 10px;
}


/* elementi contenuti nella pagina clienti */
.cliente{
    display: flex;  /* ordina in orizzontale elementi contenuti */
    margin: 2px 5px 15px 5px;
    padding: 5px 2px 5px 2px;
}

.ricerca{
    background-color: rgb(245, 245, 221, 0.82); /*chiaro*/
    display: flex;
    flex-direction: column;
    width: 18%;  /* larghezza occupata da .ricerca */
    margin: 25px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}

.campo{
    margin: 3px;
    padding: 5px;
}

.text-area{
    margin: 3px;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
}

.avvio-ricerca{
    margin-top: 15px;
    padding: 10px;
    align-self: center;
    border-radius: 100px;
    box-shadow: 2px 2px rgb(176, 148, 148, 0.7);
}

#avvio{
    background-color: rgb(236, 186, 170);
    width: 33%;
    height: 50px;
}

.mostra-risultati{
    background-color: rgb(245, 245, 221, 0.82); /*chiaro*/
    flex: 1;  /* prende tutto lo spazio disponibile oltre a .ricerca in .cliente */
    margin: 25px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.campo-ricerca{
    margin: 3px;
    padding: 2px 5px 2px 5px;;
}

.risultati{
    background-color: red;
    margin: 5px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.nuova-ricerca{
    margin-top: 15px;
    padding: 10px;
    align-self: center;
    border-radius: 100px;
    box-shadow: 2px 2px rgb(176, 148, 148, 0.7);
}


/* elementi contenuti nel footer */
footer{
    background-color: #C8AD7E; /*scuro*/
    position: fixed;   /* Queste righe */ 
    bottom: 0px;       /* garantiscono che il */
    left: 0px;         /* footer sia sempre in */
    right: 0px;        /* fondo alla pagina  */
    text-align: center;
    padding: 1px;
}